@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: white;
}

h1,
h2,
h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

main {
    overflow: hidden;
}

body {
    background-color: black;
}

.top {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.651)), url(IMAGES/IN-en-20250602-TRIFECTA-perspective_27a3fdfa-126f-4148-b153-55d60b51be6a_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2043px, 100%);
    height: 655px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(78%, 1212px);
    margin: auto;
    position: relative;
    top: 0;
    padding-top: 1.3rem;
}

.nav .logo img {
    height: 2.5rem;
    translate: 0px 2px;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn .lang-btn select {
    margin-bottom: 0rem;
    padding: 0.1rem 1rem;
}

.red-btn {
    background-color: red;
    border: none;
    color: white;
    border-radius: 3px;
    margin-left: 0.37rem;
    font-weight: 400;
    padding: 0.35rem 1rem;
}

.top .text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    top: 21%;
    width: 78%;
    gap: 0.72rem;
}

.top .text .first {
    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
    margin: auto;
    line-height: 1.35;
}

.top .text .second {
    font-size: 1.16rem;
    font-weight: 600;
}

.top .text .third {
    margin-top: 1.4rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.email-fill {
    gap: 0.5rem;
    margin: auto;
    margin-top: 0.3rem;
    width: 56%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.email-fill button {
    background-color: red;
    height: 100%;
    width: 38%;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.email-fill input {
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
    height: 100%;
    width: 65%;
    border-radius: 3px;
    padding: 0.43em 1em;
    font-size: 14px;
}

.email-fill input::placeholder {
    color: rgb(212, 211, 211);
}

.curve-border {
    height: 30px;
    width: 100%;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    border-top-right-radius: 244rem 6rem;
    border-top-left-radius: 244rem 6rem;
    position: relative;
    top: -25px;
    display: flex;
}


.curve-helper {
    height: 45px;
    margin-top: 5px;
    width: 100%;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-top-right-radius: 244rem 6rem;
    border-top-left-radius: 244rem 6rem;
}

.trend {
    width: min(80%, 1240px);
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.trend-cards {
    display: flex;
    justify-content: flex-start;
    min-width: min-content;
    gap: 3rem;
    padding: 0rem 2rem;
    margin-top: 1.5rem;
}

.trend-cards .card {
    flex: 0 0 11.2rem;
    /* flex-grow: 0, flex-shrink: 0, flex-basis: 11.2rem */
    height: 15.8rem;
    background-size: cover;
    background-position: center center;
    border-radius: 0.5rem;
    background-repeat: no-repeat;
}

.card-1 {
    background-image: url(IMAGES/5.webp);
}

.card-2 {
    background-image: url(IMAGES/card\ hit.webp);
}

.card-3 {
    background-image: url(IMAGES/retro.webp);
}

.card-4 {
    background-image: url(IMAGES/4.webp);
}

.card-5 {
    background-image: url(IMAGES/chava.webp);
}

.card .trend-no h2 {
    font-size: 6.3rem;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.7px;
    position: relative;
    top: 7.6rem;
    right: 1.2rem;
}

.reason {
    width: min(83%, 1240px);
    margin: auto;
    padding: 4rem 1.5rem;
}

.reason-cards {
    display: grid;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(237px, 1fr));
}

.grid-card {
    height: 20.5rem;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 1.7rem 1rem;
    border-radius: 1rem;
    position: relative;
}

.grid-card h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.grid-card p {
    color: rgb(189, 187, 187);
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, ;
}

.grid-card img {
    position: absolute;
    bottom: 1.4rem;
    right: 0.8rem;
}

.FAQS {
    width: min(83%, 1240px);
    margin: auto;
    padding: 0rem 1.5rem;
    margin-bottom: 4.5rem;
}

.FAQS h2 {
    margin-bottom: 1rem;
}

.FAQS .Q-box {
    height: 5rem;
    width: 100%;
    margin: auto;
    background-color: #2d2d2d;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.4em;
    cursor: pointer;
}

.FAQS .Q-box:hover {
    background-color: #353434;
}

.email-end {
    width: min(83%, 1240px);
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
}

.email-input-last {
    width: 70%;
    margin: auto;
    display: flex;
    gap: 0.6em;
    margin-top: 1rem;
}

.email-input-last input {
    height: 3.55rem;
    flex: 1;
    background-color: #0f0f0f;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 3px;
    padding: 0rem 1rem;
}

.email-input-last input::placeholder {
    color: rgb(206, 206, 206);
    font-weight: 400;
    font-size: 1rem;
}

.email-input-last button {
    width: 27%;
    height: 3.55rem;
    background: rgb(229, 9, 20);
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}

footer {
    color: #353434;
    width: min(83%, 1240px);
    margin: auto;
    padding: 0rem 1.5rem;
    font-weight: 300;
}

footer section div,
a,
select,
button {
    color: #ffffffb3;
}

footer .telli {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
}

footer .grid-anchors {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 0.6rem;
    font-size: 0.8rem;
    margin-bottom: 4rem;
}

.lang-btn select {
    background-color: transparent;
    padding: 0.06rem 1.3rem;
    font-weight: 400;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#netflix-ind {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
}

.terms {
    margin-bottom: 8rem;
    font-size: 0.75rem;
    color: #c9c9c9b3;
}

.terms button {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: rgb(38, 144, 206);
}